[Bb]in [Oo]bj [Dd]ebug [Rr]elease .user .aps .eto .ncb .lib .idb .pdb .ilk .msi .res .pch .suo .aps .user ReSharper .resharper -results.xml .mdb .ldb .incr .scc .SCC .vspscc .projdata .resources .vbw ~vssc Build *.doc vti_bin vti_cnf vti_log vti_pvt vti_script vti_txt [Tt]humbs.db ITGC.Files ITGC_DEV Ankh.Load UpgradeReport_Files UpgradeLog. .mlb .bak .tmp .Cache .dbml [Ss]ql Backup backup .dbmdl